/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#wrapper {
	padding: 2em, 1em, 2em;
	min-height: 100%;
	width: 100%;
	height: auto;
}

#topnav-ul {
	font-color: black;
	text-align: right;
	float: right;
	display: inline-block;
}


a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: #009900;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

#sidebar {
	font-color: black;
	text-align: left;
	margin: 1em;
	line-height: 200%;
	float: left;
	clear: left;
	width: 25%;
	font-family: 'league_gothicregular';
}

p {
	font-color: black;
	text-align: left;
	margin-left: 22em;
	margin top: 2em;
	float: left;
	clear: right;
	width: 75%;
}

#topheader {
	border-bottom: 1px solid black;
	margin-top: 1em;
	font-family: 'league_gothicregular';
}

#footer {
	display: block;
	border-top: 1px solid black;
	text-align: left;
	width: 100%;
	font-family: 'league_gothicregular';
}

h5 {
	font: bold;
	font-size: 80%;
	font-family: 'league_gothicregular';
}

h3 {
	font: bold;
	font-size: 200%;
	font-family: 'league_gothicregular';
}

h1 {
	font-family: 'league_gothicregular';
}

#bodypost {
	margin-top: 2em;
	margin-left: 18em;
	margin-bottom: 2em;
	font-family: 'league_gothicregular';
	width: 75%;
}